.menu {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.menu-btn {
    width: 200px;
    height: 80px;
    border: 6px solid var(--border-color);
    border-radius: 10px 10px;
    color: var(--font-enable-color);
    
    position: relative;
    background-image: linear-gradient(to bottom,
            var(--rose-1st),
            var(--blue-2nd));
    z-index: 1;
    transition: color 1s ease;
    
    font-size: 15px;
    font-weight: 300;
    animation: move 1s ease-in-out infinite both;
}

.menu-btn::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,
            var(--rose-1st),
            var(--yellow-4th));
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    
    50% {
        transform: translateY(5px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

.menu-btn:hover::before {
    opacity: 1;
}

.menu-btn:hover {
    color: var(--theme-4th);
    animation-play-state: paused;
}

.menu-play {}

.menu-tutorial {
    animation-delay: .25s;
}

.menu-settings {
    animation-delay: .50s;
}