/**
*/

.tile-container {
    perspective: 2000;
    perspective-origin: 200px 200px;
    transform-style: preserve-3d;
    transform: translateZ(30px);
}

.tile-select .tile-piece {
    background-color: #d9b466;
    opacity: 0.5;
    cursor: url("./images/hand_grab.png"), auto;
    
    img {
        transform: scale(.9);
    }
}

.tile-piece {
    position: relative;
    width: 64px;
    height: 64px;
    padding: 4px;
    border: 1px solid #805500;
    background-color: #7d54028c;
    
    display: grid;
    place-content: center;
    
    img {
        width: 100%;
        height: 100%;
    }
}

.tile-box {
    transform: translateZ(60px);
    border: 5px dashed transparent;
}

/*.l:has(div:hover) div {
    border: 6px solid #d6c39f;
    background-color: #d9b466;
}

.li:has(div:hover) div {
    border: 6px solid #d6c39f;
    background-color: #d9b466;
}

.z:has(div:hover) div {
    border: 6px solid #d6c39f;
    background-color: #d9b466;
}

*/

/*

.t:has(div:hover) .btn {
    z-index: 999;
    visibility: visible;
}

.t:has(btn:hover) div {
    border: 6px solid #d6c39f;
    background-color: #d9b466;
}*/

.tile-control-container {
    position: absolute;
    /* top: -60px; */
    width: 100px;
    height: 46px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px #ba5400;
    background-color: #131313;
    padding: 2px;
    transform: translateZ(80px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.tile-control-btn {
    padding: 5px;
    width: 47px;
    height: 100%;
    background-color: #57BEDDFF;
    color: black;
    border: 2px solid #414141;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px 1px #218eaf,
        inset -2px -2px 3px 1px #17657d;
    transform: scale(1);
}

.tile-control-btn svg {
    width: 20px;
}

.tile-control-rotate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-control-rotate div {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
}

.tile-control-rotate div:nth-child(2) {
    transform: rotateX(180deg);
}

.tile-control-container .tile-control-btn:nth-child(3) {
    transform: rotateX(185deg);
}

.tile-control-container .tile-control-btn:nth-child(3):hover {
    background-color: #93d3e6;
}

/*.tile-control-btn:hover {
    background-color: #93d3e6;
}
*/
background-color .tile-control-container .tile-control-btn:nth-child(3):active {
    transform: rotateX(185deg) scale(0.9);
}

.tile-control-btn:active {
    box-shadow: inset 1px 1px 3px 1px #218eaf,
        inset -2px -2px 3px 1px #17657d;
    transform: scale(.9);
}

.tile-control-btn:disabled {
    background-color: #218eaf;
    box-shadow: inset 1px 1px 3px 1px #0f2329,
        inset -2px -2px 3px 1px #0f2329;
    transform: scale(1);
}