.contenedor {
    width: 640px;
    height: 640px;
    border: 1px solid green;
    
    perspective: 2000;
    perspective-origin: 200px 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
