* {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100dvw;
    
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --blue-0: #0061d3;
    --blue-1st: #000a61;
    --blue-2nd: #009996;
    --blue-3rd: #31ddff;
    
    --rose-1st: #e55d8a;
    --rose-2nd: #ff0044;
    
    --gray-1st: #2e2c2c;
    --gray-2nd: #444444;
    
    --yellow-1st: #d9b466;
    --yellow-2nd: #805500;
    --yellow-3rd: #7d54028c;
    --yellow-4th: #cc6900;
    
    --pulper-1st: #4e10e0;
    
    --border-color: var(--yellow-4th);
    
    --font-color: var(--pulper-1st);
    --font-enable-color: var(--gray-2nd);
    --theme-1st: var(--blue-0);
    --theme-2nd: var(--blue-2nd);
    --theme-3rd: var(--blue-3rd);
    --theme-4th: #000000;
    
    --width: 412px;
    --height: 736px;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--theme-4th);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    box-sizing: border-box;
    width: var(--width);
    height: var(--height);
    
    background-image: url('/images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    border-width: 6px;
    border-style: solid;
    border-radius: 10px 10px;
    font-size: 30px;
    font-weight: 900;
    transition: color 1s ease;
    filter: grayscale(0%);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    /* filter: blur(.5px);
    filter: contrast(200%);
    filter: grayscale(0%);*/
}

.btn:active {
    transform: scale(.9);
}